*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./images/bg-img);
}
.dropdown{
  width: 150px;
  padding: 4px;
  text-align: center;
  border: 2px solid black;
}
.dropdown li{
    display: none;
}
.dropdown:hover{
    cursor: pointer;
   
}
.dropdown:hover li{
    display: block;
    background-color: black;
    color: white;

}